html,
body {
  padding: 0;
  margin: 0;
  background-color: #bdbdbd;
  font-family: 'Gordita';
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}
h1, h2,h4,h3,h5,h6{
  padding: 0;
  margin:0;
}
@font-face {
  font-family: 'Gordita';
  src: url('../static/gordita-cufonfonts-webfont/Gordita\ Medium.woff');
  src: url('../static/gordita-cufonfonts-webfont/Gordita\ Regular.woff');
  font-weight: 500;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: #bdbdbd;
  }
}
